<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
      <target name="fluentd" xsi:type="Fluentd" 
				  host="localhost"
				  port="24224"
				  tag="Demo"
				  IncludeAllProperties="true"
				  ExcludeProperties="id,object" 
          SharedKey="testtesttest">
		  </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="fluentd" />
    </rules>
</nlog>